<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Add photos to your locations.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Add photos to your locations.</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string></string>
		<string>location-services</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<dict/>
</dict>
</plist>
